.App {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(200, 200, 200);
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 5px;
  border-style: double;
}

.appLogo {
  height: 100%;
  width: auto;
}

@media (max-width: 450px) {
  .appLogo {
    width: 80%;
    height: auto;
  }
  
}